@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: rgba(7, 7, 7, 0.815);
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/014/665/033/original/yargon-kerman-webp-net-gifmaker-39.gif?1544919451");
  background-color: #000000;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* LAYOUT */
main {
  position: relative;
  width: 85rem;
  height: 55rem;
  background-color: rgba(56, 98, 105, 0.726);
  backdrop-filter: blur(3px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 120px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  color: rgb(14, 170, 197);
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 6.5rem;
  font-weight: 300;
  color: #e8d6ff;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(0, 0, 0, 0.733);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #04f5f567;
  opacity: 0.8;
  border-radius: 150px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: rgb(252, 252, 252);
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: rgb(248, 244, 244);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 10rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
  color: whitesmoke;
}
.btn--roll {
  top: 39.3rem;
  color: whitesmoke;
}
.btn--hold {
  top: 46.1rem;
  color: whitesmoke;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #21d4f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}



button:hover {
  color: #10c8f7;
  background: #0303038e;
  box-shadow: 0 0 10px #fffafa, 0 0 40px #f702f7, 0 0 60px #a408ecbd;
  transition-delay: 1.3s;
}


button span {
  position: absolute;
  display: block;
}




button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #d65de6);
}



button:hover span:nth-child(1) {
  left: 100%;
  transition: 2s;
}


button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 6px;
  background: linear-gradient(270deg, transparent, #74ec04);
}

button:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}



button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03f799);
}

button:hover span:nth-child(2) {
  top: 100%;
  transition: 1.8s;
  transition-delay: 0.25s;
}



a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 8px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00fce7);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
